<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="SVG, HTML, CSS, XML, XHTML, JavaScript, Python">
		<title>SVG Library</title>
		<link rel="stylesheet" type="text/css" href="svglibrary-defaults.css">
	</head>

	<body>

		<a name="gototags"><h2>Tags</h2></a>
		{% for item in thumbfiles %}
		<a href="#{{quote(item)}}"><span class="tag">{{ item }}</span></a>
		{% endfor %}

		{% for key, value in thumbfiles.iteritems() %}
		<span><h2><a name="{{ key }}" href="#gototags">{{ key }}</a></h2></span>

		<div id="{{ key }}_obj">
			<div class="fallset svgility-box">
				<div class="svgility-set">

					{% for v in value %}
						<div class="svgility-block svg-media">
							<a href="{{ v }}">
								<div>
									<span>{{ v }}</span>
								</div>
								<img src="{{ v }}" alt="{{ v }}" />
							</a>
						</div>
					{% endfor %}

				</div>
			</div>
		</div>
		{% endfor %}

		<script src="svglibrary.js"></script>
		<script type="text/javascript">
		{% for item in thumbfiles %}
			svgility.ignite("#{{item}}_obj", {
				polyShape: 'chevrondown',
				columns: 8,
				invert: { active: true,
				direction: 'normal'},
				//centerBottom: true,
				padding: '4px',
				evenOdd: false,
				verticalTrim: 37
			});
		{% endfor %}
		</script>
		<!-- Your option instead of chevrondown are:
		chevrondown
		shardPat1
		diamondTall
		diamondBase
		twentyStar
		fiveStar
		fourStar
		octagonBase
		heptagonBase
		hexagonFlat
		hexagonBase
		pentagonBase
		triangleRound
		triangleBase
		circleBase
    squareBox (jor Jarrad)
    -->
	</body>
</html>
